svg {
	margin-bottom: 10px;
}

.source {
	display: none;
}

.head-bar {
	height: 40px;
	background-color: #CD5C5C;
}

#profile-picture {
	position: relative;
}

#profile-picture img{
	position: absolute;
	top: 2.5px;
	right: 10px;
	height: 35px;
}