.head-bar {
  height: 50px;
  width: 100%;
  background-color: #CDC9C9;
  position: relative;
}

#profile-pic img{
	height: 20%;
	width: 20%;
	border: 2px solid lightgrey;
	padding-bottom: 1px;
}

#graph img{
	height: 70%;
	width: 70%;
	border: 2px solid lightgrey;
	margin-left: 200px;
}

#home img{
	position: absolute;
	top: 0px;
	right: 10px;
	height: 50px;
	background-color: #d4c9ff;
	border-radius: 10px;
	border: 2px solid black;
}